.contacts {
	display: flex;
	flex-direction: column;
}

.map {
	flex-grow: 1;
}

img[alt="метка местоположения1"] {
	position: relative;
	top: rem(350px);
	z-index: 1;
	left: rem(600px);
}

img[alt="метка местоположения2"] {
	position: relative;
	top: rem(600px);
	z-index: 1;
	left: rem(650px);
}

img[alt="метка местоположения3"] {
	position: relative;
	top: rem(350px);
	z-index: 1;
	left: rem(750px);
}

.footer {
	height: 9vh;
	background-image: url(../img/footer/footer-texture.jpg);
	background-size: cover;

	@include tablets {
	height: 7vh;
	}

	@include phones {
	height: 12vh;
	}
}

.container--footer {
	height: 100%;
	width: 95%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@include phones {
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
	}
}

.footer__contacts {
	font-family: 'ubuntu';
	font-size: rem(14px);
	line-height: rem(24px);
}

.footer__adress {
	color: #fff;
	font-weight: 300;
}

.footer__phone {
	color: #e45028;
	font-weight: 900;
}

.footer__phone-icon {
	display: inline-block;
	vertical-align: middle;
	fill: #e45028;
	height: rem(14px);
	width: rem(20px);
}

.footer__link {
	display: inline-block;
	&:hover .social {
		fill: #fff;
	}
}

.social {
	width: 3vh;
	height: 3vh;
	margin-left: rem(15px);
	fill: #5b5b5b;

	@include tablets {
	width: 2.5vh;
	}
}