button {
    border: none;
    background-color: none;
  }
  .orange__btn {
    background: $red;
    padding: .7rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: rem(20px);

    &:hover {
       background: $orange-dark;
    }
  }

  .gray__btn {
    background: $gray;
    padding: .7rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .btn__descr {
    padding-right: 60%;

    @include hd {
      padding-right: 15%;
  }
    
  }