.title {
    font-size: 72px;
    margin-bottom: 40px;
    font-family: 'Gagalin';
}

.yellow-title {
    color: $yellow;
}

.white-title {
    color: #fff;
}

.black-title {
    color: $black;
    text-align: center;
}

.orange-title {
    color: #e45028;
}